<!doctype html> {% load static %}{% load custom_filters %}
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="{% for tag in config.base_tag.all %}{{tag.name}}{% if not forloop.last %},{% endif %}{% endfor %}">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="{% block author %}{% endblock author %}">
    <title>{% block title %}{% endblock title %} - {{config.title}}</title>

    <!-- STYLESHEET -->
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="{% static 'askbuddie/fonts/icons/main/mainfont/style.css' %}">
    <link rel="stylesheet" href="{% static 'askbuddie/fonts/icons/font-awesome/css/font-awesome.min.css' %}">

    <!-- Vendor -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'askbuddie/vendor/bootstrap/v4/bootstrap-grid.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'askbuddie/css/style.css' %}">
    <link rel="icon" href="{{config.favicon.url}}" type="image/png" sizes="16x16">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
        window.onload = function() {
            var recaptcha = document.forms["form"]["g-recaptcha-response"];
            recaptcha.required = true;
            recaptcha.oninvalid = function(e) {

                alert("Please complete the captcha");
            }
        }
    </script>
</head>

<body>
    <div class="signup">
        <!-- HEADER -->
        <header class="signup__header">
            <div class="container">

                {% block extra_header %} {% endblock extra_header %}
            </div>
        </header>

        <!-- MAIN -->
        <main class="signup__main">
            <img class="signup__bg" src="{% static 'askbuddie/images/signup-bg.png' %}" alt="bg">

            <div class="container">
                <div class="signup__container">
                    <div class="signup__logo">
                        <a href="{% url 'app_askbuddie:askbuddie_home' %}"><img src="{{config.logo.url}}" alt="logo">{{config.header}}</a>
                    </div>

                    {% block content %} {% endblock content %}
                </div>
            </div>
        </main>

        <!-- FOOTER -->
        {% include 'askbuddie/footer.html' %}
    </div>
    <!-- JAVA SCRIPT -->
    <script src="{% static 'askbuddie/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'askbuddie/vendor/velocity/velocity.min.js' %}"></script>
    <script src="{% static 'askbuddie/js/app.js' %}"></script>

</body>

</html>