{% extends 'base.html' %}
{% load static %} {% block author %} {{thread.created_by.get_full_name}} {% endblock author %} 
{% block title %} {{config.title}} - {{thread.topic}} {% endblock title %} 
{% block description %}{{thread.description|striptags}}{% endblock description %}
{% block extra_nav %}
<div class="nav__thread">
    <p>Thread Navigation:</p>
    <a href="#" class="nav__thread-btn nav__thread-btn--prev"><i class="icon-Arrow_Left"></i>Previous</a>
    <a href="#" class="nav__thread-btn nav__thread-btn--next">Next<i class="icon-Arrow_Right"></i></a>
</div>
{% endblock extra_nav %} 
{% block content %}
<div class="topics">
    <div class="topics__heading">
        <h2 class="topics__heading-title">{{thread.topic}}</h2>
        <div class="topics__heading-info">
            {%with category=thread.get_category_display|split:"," %}
            <a href="{% url 'askbuddie:askbuddie_category' category.0 %}" class="category"><i class="{{category.0|color}}"></i> {{category.0}}</a> {% endwith %}
            <div class="tags">
                {% for tag in thread.forum_tag.all %}
                <a href="{% url 'askbuddie:askbuddie_tag' tag|urlencode %}" class="{{tag|random_color_generator}}">{{tag}}</a> {% endfor %}
            </div>
        </div>
    </div>
    <div class="topics__body">
        <div class="topics__content">
            {% if thread.description %}
            <div class="topic">
                <div class="topic__content">
                    <div class="topic__text">
                        <p>{{thread.description|safe}}</p>
                    </div>
                </div>
            </div>
            {% endif %} {% with top_upvotes_reply=thread.thread_reply.first %} {% if top_upvotes_reply %}
            <div class="topic">
                <div class="topic__head">
                    <div class="topic__avatar">
                    <!--User Section-->
                        {% include 'askbuddie/userDropDown.html' with user=top_upvotes_reply.created_by %}
                        {% comment %} <a href="#" class="avatar"><img src="{{top_upvotes_reply.created_by.user_profile.profile.url}}" alt="{{top_upvotes_reply.created_by.first_name}}"></a> {% endcomment %}
                    </div>
                    <div class="topic__caption">
                        <div class="topic__name">
                            <a href="#">{{top_upvotes_reply.created_by.get_full_name}}</a>
                        </div>
                        <div class="topic__date"><i class="icon-Watch_Later"></i>{{top_upvotes_reply.created_on|thread_reply_timesince}}</div>
                    </div>
                </div>
                <div class="topic__content">
                    <div class="topic__text">
                        <p>{{top_upvotes_reply.description|safe}}</p>
                    </div>
                    <div class="topic__footer">
                        <div class="topic__footer-likes">
                            <div>
                                <a href="#"><i class="fas fa-thumbs-up"></i></a>
                                <span>{{top_upvotes_reply.upvotes}}</span>
                            </div>
                            <div>
                                <a href="#"><i class="fas fa-thumbs-down"></i></a>
                                <span>{{top_upvotes_reply.downvotes}}</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                <span>{{top_upvotes_reply.hearts}}</span>
                            </div>
                        </div>
                        {% comment %} <div class="topic__footer-share">
                            <div data-visible="desktop">
                                <a class="btn" id="copy" data-clipboard-text="{{request.get_full_path}}" aria-label="Copied"><i class="icon-Share_Topic"></i></a> 
                                <a href="#"><i class="icon-Flag_Topic"></i></a>
                                <a href="#"><i class="icon-Bookmark"></i></a>
                            </div>
                            <div data-visible="mobile">
                                <a href="{{request.get_full_path}}"><i class="icon-Share_Topic"></i></a> <a href="#"><i class="icon-More_Options"></i></a>
                            </div>
                            <a href="#"><i class="icon-Reply_Fill"></i></a>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endif %} {% endwith %}
            <div class="topic">
                <div class="topic__content">
                    <div class="topic__info">
                        <div class="topic__info-section">
                            <div>
                                <span class="topic__info-title">Created</span>
                                <div class="topic__info-avatar">
                                    {% include 'askbuddie/userDropDown.html' with user=thread.created_by %}
                                    <span>{{thread.created_on|thread_reply_timesince}}</span>
                                </div>
                            </div>
                            <div>
                                <span class="topic__info-title">Last reply</span>
                                <div class="topic__info-avatar">
                                    {% with thread_reply=thread.thread_reply.first %} {% if thread_reply %}
                                        {% include 'askbuddie/userDropDown.html' with user=thread_reply.created_by %}
                                    <span>{{thread_reply.created_on|thread_reply_timesince}}</span> {% endif %}{% endwith %}
                                </div>
                            </div>
                        </div>
                        <div class="topic__info-section">
                            <div>
                                <span class="topic__info-title">Replies</span>
                                <div class="topic__info-count">{{thread.thread_reply.count}}</div>
                            </div>
                            <div>
                                <span class="topic__info-title">Views</span>
                                <div class="topic__info-count">{{thread.views}}</div>
                            </div>
                            <div>
                                <span class="topic__info-title">Users</span>
                                <div class="topic__info-count">{{thread_users}}</div>
                            </div>
                            <div>
                                <span class="topic__info-title">Likes</span>
                                <div class="topic__info-count">{{thread_likes|default_if_none:"0"}}</div>
                            </div>
                        </div>
                        <a href="#" class="topic__info-more"><i class="icon-Arrow_Down"></i></a>
                    </div>
                    {% comment %} <div class="topic__title">
                        <p>Frequent Posters</p>
                    </div>
                    <div class="topic__posters">
                        {% for reply in thread.thread_reply.all|slice:":10" %} {% ifchanged reply.created_by %}
                        <a href="" class="avatar"><img src="{{reply.created_by.user_profile.profile.url}}" alt="{{reply.created_by.username}}"></a>
                        {% endifchanged %} {% endfor %} <span>10</span></a> 
                    </div> {% endcomment %}
                    {% comment %}
                    <div class="topic__title">
                        <p>Popular Links</p>
                    </div>
                    <div class="topic__list">
                        <ul>
                            <li><span>12</span><a href="#">Deepest and darkest secrets. <span>imgur.com</span></a></li>
                            <li><span>1</span><a href="#">Help Center. <span>techlabs.net</span></a></li>
                            <li><span>7</span><a href="#">Best 20 youtube videos. <span>youtube.com</span></a></li>
                            <li><span>19</span><a href="#">Bootstrap 4, things you need to know.</a></li>
                            <li><span>3</span><a href="#">Best Simpson jokes.</a></li>
                        </ul>
                    </div>
                    <div class="topic__title">
                        <p>There are <span>81 replies</span> with an estimated read time of <span>11 minutes.</span></p>
                    </div>
                    <div class="topic__btns">
                        <a href="#" class="btn btn--type-02">Summarize <span data-visible="desktop">This</span>Topic</a>
                        <div class="topic__select">
                            <p>Sort replies by:</p>
                            <div class="btn-select"><i class="icon-Favorite_Topic"></i>Most Liked</div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            {% with thread_reply=thread.thread_reply.all|slice:"1:" %} {% if thread_reply %} {% for reply in thread_reply %}
            <div class="topic">
                <div class="topic__head">
                    <div class="topic__avatar">
                        <!--User Section-->
                        {% include 'askbuddie/userDropDown.html' with user=reply.created_by %}
                    </div>
                    <div class="topic__caption">
                        <div class="topic__name">
                            <a href="#">{{reply.created_by.get_full_name}}</a>
                        </div>
                        <div class="topic__date">
                            {% comment %}
                            <div class="topic__user topic__user--pos-r">
                                <i class="icon-Reply_Fill"></i>
                                <a href="#" class="avatar"><img src="fonts/icons/avatars/B.svg" alt="avatar"></a>
                                <a href="#" class="topic__user-name">Benjamin Caesar</a>
                            </div> {% endcomment %}
                            <i class="icon-Watch_Later"></i>{{reply.created_on|timesince}} ago
                        </div>
                    </div>
                </div>
                <div class="topic__content">
                    <div class="topic__text">
                        <p>{{reply.description|safe}}</p>
                    </div>
                    <div class="topic__footer">
                        <div class="topic__footer-likes">
                            <div>
                                <a href="#"><i class="fas fa-thumbs-up"></i></a>
                                <span>{{reply.upvotes}}</span>
                            </div>
                            <div>
                                <a href="#"><i class="fas fa-thumbs-down"></i></a>
                                <span>{{reply.downvotes}}</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                <span>{{reply.hearts}}</span>
                            </div>
                        </div>
                        {% comment %} <div class="topic__footer-share">
                            <div data-visible="desktop">
                               <a href="{{request.get_full_path}}"><i class="icon-Share_Topic"></i></a>
                                <a href="#"><i class="icon-Flag_Topic"></i></a>
                                <a href="#"><i class="icon-Bookmark"></i></a>
                            </div>
                            <div data-visible="mobile">
                                <a href="{{request.get_full_path}}"><i class="icon-Share_Topic"></i></a>
                                <a href="#"><i class="icon-More_Options"></i></a>
                            </div>
                            <a href="#"><i class="icon-Reply_Fill"></i></a>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %} {% endwith %} 
            {% if user.is_authenticated and not thread.closed %}
            <!--Reply Section-->
                <form method="post" enctype="multipart/form-data">
                    <!-- <caption><label class="create__label h3" for="title">Your Answer</label></caption> -->
                    {% csrf_token %}
                    <div class="create__section create__textarea">
                        {{form.description}}
                    </div>
                    <div class="create__footer">
                        <button type="submit" class="create__btn-create btn btn--type-02" style='color:white;'>Post Your Answer</button>
                    </div>
                    
                </form>
        
            <!--End Reply Section-->
            {% endif %}
            {% comment %}
            <div class="topics__promo">
                <a href="#"><img src="images/topic-promo.jpg" alt="promo"></a>
            </div> {% endcomment %} {% comment %}
            <div class="topic">
                <div class="topic__head">
                    <div class="topic__avatar">
                        <a href="#" class="avatar"><img src="fonts/icons/avatars/T.svg" alt="avatar"></a>
                    </div>
                    <div class="topic__caption">
                        <div class="topic__name">
                            <a href="#">Tesla</a>
                        </div>
                        <div class="topic__date"><i class="icon-Watch_Later"></i>07 May, 2017</div>
                    </div>
                </div>
                <div class="topic__content">
                    <div class="topic__text">
                        <p>Yeah! This is really bad. Rejecting an item because its not using a PHP framework(no matter what the script is doing) is a wrong move I think. There are a lot of people reporting this problem(Rejected because of not using a framework).</p>
                    </div>
                    <div class="topic__footer">
                        <div class="topic__footer-likes">
                            <div>
                                <a href="#"><i class="icon-Upvote"></i></a>
                                <span>71</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Downvote"></i></a>
                                <span>06</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                <span>42</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Reply_Empty"></i></a>
                                <span>01</span>
                            </div>
                        </div>
                        <div class="topic__footer-share">
                            <div data-visible="desktop">
                                <a href="#"><i class="icon-Share_Topic"></i></a>
                                <a href="#"><i class="icon-Flag_Topic"></i></a>
                                <a href="#" class="active"><i class="icon-Already_Bookmarked"></i></a>
                            </div>
                            <div data-visible="mobile">
                                <a href="#"><i class="icon-More_Options"></i></a>
                            </div>
                            <a href="#"><i class="icon-Reply_Fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topic topic--comment">
                <div class="topic__head">
                    <div class="topic__avatar">
                        <a href="#" class="avatar"><img src="fonts/icons/avatars/L.svg" alt="avatar"></a>
                    </div>
                    <div class="topic__caption">
                        <div class="topic__name">
                            <a href="#">Larry</a>
                        </div>
                    </div>
                    <a href="#" class="topic__arrow topic__arrow--up"><i class="icon-Arrow_Up"></i></a>
                </div>
                <div class="topic__content">
                    <div class="topic__text">
                        <p>Can you stop ADP, and create new option for author can create coupon code, Author will give for their customer. It's better than now.</p>
                    </div>
                </div>
            </div>
            <div class="topic">
                <div class="topic__head">
                    <div class="topic__avatar">
                        <a href="#" class="avatar"><img src="fonts/icons/avatars/K.svg" alt="avatar"></a>
                    </div>
                    <div class="topic__caption">
                        <div class="topic__name">
                            <a href="#">Kevin</a>
                        </div>
                        <div class="topic__date"><i class="icon-Watch_Later"></i>08 May, 2017</div>
                    </div>
                </div>
                <div class="topic__content">
                    <div class="topic__text">
                        <p>I will, but I'm not doing it for me, i'll open ticket for the community.</br>I got accepted with no problems on other marketplace.</p>
                        <div class="topic topic--answer">
                            <div class="topic__head">
                                <div class="topic__caption">
                                    <div class="topic__user">
                                        <a href="#" class="avatar"><img src="fonts/icons/avatars/T.svg" alt="avatar"></a>
                                        <a href="#" class="topic__user-name">Tesla</a>
                                    </div>
                                </div>
                                <a href="#" class="topic__arrow"><i class="icon-Arrow_Up"></i></a>
                            </div>
                            <div class="topic__content">
                                <div class="topic__text">
                                    <p>Yeah! This is really bad. Rejecting an item because its not using a PHP framework(no matter what the script is doing) is a wrong move I think.</p>
                                </div>
                            </div>
                        </div>
                        <p>Subscribers may download more than an ad-hoc purchaser on a marketplace, but by retaining subscribers over time (paying money every month), there’s more money in total for contributors.</p>
                    </div>
                    <div class="topic__footer">
                        <div class="topic__footer-likes">
                            <div>
                                <a href="#"><i class="icon-Upvote"></i></a>
                                <span>415</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Downvote"></i></a>
                                <span>28</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                <span>49</span>
                            </div>
                        </div>
                        <div class="topic__footer-share">
                            <div data-visible="desktop">
                                <a href="#"><i class="icon-Share_Topic"></i></a>
                                <a href="#"><i class="icon-Flag_Topic"></i></a>
                                <a href="#"><i class="icon-Bookmark"></i></a>
                            </div>
                            <div data-visible="mobile">
                                <a href="#"><i class="icon-More_Options"></i></a>
                            </div>
                            <a href="#"><i class="icon-Reply_Fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topic topic--selected">
                <div class="topic__head">
                    <div class="topic__avatar">
                        <a href="#" class="avatar"><img src="fonts/icons/avatars/C.svg" alt="avatar"></a>
                    </div>
                    <div class="topic__caption">
                        <div class="topic__name">
                            <a href="#">Callis</a>
                        </div>
                    </div>
                </div>
                <div class="topic__content">
                    <div class="topic__text">
                        <p>This post has been hidden by a moderator. Received too much downvotes.</p>
                    </div>
                    <div class="topic__footer">
                        <div class="topic__footer-likes">
                            <div>
                                <a href="#"><i class="icon-Downvote"></i></a>
                                <span>617</span>
                            </div>
                        </div>
                        <div class="topic__footer-show">
                            <a href="#" class="btn">Show me</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topic">
                <div class="topic__head">
                    <div class="topic__avatar">
                        <a href="#" class="avatar"><img src="fonts/icons/avatars/R.svg" alt="avatar"></a>
                    </div>
                    <div class="topic__caption">
                        <div class="topic__name">
                            <a href="#">Robin</a>
                        </div>
                        <div class="topic__date"><i class="icon-Watch_Later"></i>09 May, 2017</div>
                    </div>
                </div>
                <div class="topic__content">
                    <div class="topic__text">
                        <p>Does our 60% more expensive milk go well with your 60% more expensive coffee?</p>
                    </div>
                    <div class="topic__footer">
                        <div class="topic__footer-likes">
                            <div>
                                <a href="#"><i class="icon-Upvote"></i></a>
                                <span>21</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Downvote"></i></a>
                                <span>03</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                <span>08</span>
                            </div>
                        </div>
                        <div class="topic__footer-share">
                            <div data-visible="desktop">
                                <a href="#"><i class="icon-Share_Topic"></i></a>
                                <a href="#"><i class="icon-Flag_Topic"></i></a>
                                <a href="#"><i class="icon-Bookmark"></i></a>
                            </div>
                            <div data-visible="mobile">
                                <a href="#"><i class="icon-More_Options"></i></a>
                            </div>
                            <a href="#"><i class="icon-Reply_Fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topic">
                <div class="topic__head">
                    <div class="topic__avatar">
                        <a href="#" class="avatar"><img src="fonts/icons/avatars/L.svg" alt="avatar"></a>
                    </div>
                    <div class="topic__caption">
                        <div class="topic__name">
                            <a href="#">Larry</a>
                        </div>
                        <div class="topic__date">
                            <div class="topic__user topic__user--pos-r">
                                <i class="icon-Reply_Fill"></i>
                                <a href="#" class="avatar"><img src="fonts/icons/avatars/T.svg" alt="avatar"></a>
                                <a href="#" class="topic__user-name">Tesla</a>
                            </div>
                            <i class="icon-Watch_Later"></i>3d
                        </div>
                    </div>
                </div>
                <div class="topic__content">
                    <div class="topic__text">
                        <p>Can you stop ADP, and create new option for author can create coupon code, Author will give for their customer. It's better than now.</p>
                    </div>
                    <div class="topic__footer">
                        <div class="topic__footer-likes">
                            <div>
                                <a href="#"><i class="icon-Upvote"></i></a>
                                <span>139</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Downvote"></i></a>
                                <span>32</span>
                            </div>
                            <div>
                                <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                <span>68</span>
                            </div>
                        </div>
                        <div class="topic__footer-share">
                            <div data-visible="desktop">
                                <a href="#"><i class="icon-Share_Topic"></i></a>
                                <a href="#"><i class="icon-Flag_Topic"></i></a>
                                <a href="#"><i class="icon-Bookmark"></i></a>
                            </div>
                            <div data-visible="mobile">
                                <a href="#"><i class="icon-More_Options"></i></a>
                            </div>
                            <a href="#"><i class="icon-Reply_Fill"></i></a>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <div class="topics__calendar">
            <div class="calendar">
                <div class="calendar__top">
                    <a href="#" class="calendar__btn calendar__btn--c-01"><i class="icon-Calender"></i></a>
                </div>
                <div class="calendar__center">
                    <div class="calendar__first">{{thread.created_on|date:"d M"}}</div>
                    <div class="calendar__range">
                        <div class="calendar__current">
                            <p> {{thread_likes|default_if_none:"0"}} / {{thread.views}}</p>
                            <span>{% now "d M" %}</span>
                        </div>
                    </div>
                    <div class="calendar__last">{{thread.thread_reply.first.created_on|thread_reply_timesince|default_if_none:"Yet To Reply"}}</div>
                </div>
                {% comment %}
                <div class="calendar__bottom">
                    <a href="#" class="calendar__btn calendar__btn--c-01"><i class="icon-Track"></i></a>
                    <a href="#" class="calendar__btn calendar__btn--c-02"><i class="icon-Reply_Fill"></i></a>
                </div> {% endcomment %}
            </div>
        </div>
        
    </div>
    
    {% comment %} <div class="topics__title"><i class="icon-Watch_Later"></i>This topic will close 6 months after the last reply.</div>
    <div class="topics__control">
        <a href="#" class="btn"><i class="icon-Bookmark"></i>Bookmark</a>
        <button class="btn" id="copy" data-clipboard-text="{{request.get_host}}{{request.get_full_path}}"><i class="icon-Share_Topic"></i>Share</button>
        <a href="#" class="btn"><i class="icon-Flag_Topic"></i>Flag</a>
        <a href="#" class="btn"><i class="icon-Add_User"></i>Invite</a>
        <a href="#" class="btn"><i class="icon-Track"></i>Track</a>
        <a href="#" class="btn btn--type-02" data-visible="desktop"><i class="icon-Reply_Fill"></i>Reply</a>
    </div>
    <div class="topics__title">Suggested Topics</div>  {% endcomment %}
    
    
    
</div>
{% endblock content %}
{% block extra_script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script>
let clipboard = new ClipboardJS('#copy', {
    text: function(trigger) {
        console.log(trigger.getAttribute('aria-label'));
    }
});
</script>
{% endblock extra_script %}