{% extends 'base.html' %}{% load static %}{% load custom_filters %} {% block author %} {{config.author.get_full_name}} {% endblock author %} 
{% block description %} {{config.description}} {% endblock description %} {% block title %} {{config.title}} 
{%if status and status != "Latest" %} - {{status}} Threads {% endif %} {% endblock title %} 

{% block content %}
<div class="posts">
    <div class="posts__head">
        <div class="posts__topic">Topic</div>
        <div class="posts__category">Category</div>
        <div class="posts__users">Users</div>
        <div class="posts__replies">Replies</div>
        <div class="posts__views">Views</div>
        <div class="posts__activity">Activity</div>
    </div>
    <div class="posts__body">
        {% for thread in threads %}
        <div class="posts__item {% cycle 'bg-f2f4f6' '' 'posts__item--bg-gradient' %}">
            <div class="posts__section-left">
                <div class="posts__topic">
                    <div class="posts__content">
                        <a href="{% url 'askbuddie:askbuddie_thread' thread.slug %}">
                            <h3>{{thread.topic}}</h3>
                        </a>
                        <div class="posts__tags tags">
                            {% for tag in thread.forum_tag.all %}
                            <a href="{% url 'askbuddie:askbuddie_tag' tag|urlencode %}" class="{{tag|random_color_generator}}">{{tag}}</a> {% endfor %}
                        </div>
                    </div>
                </div>
                {%with category=thread.get_category_display|split:"," %}
                <div class="posts__category"><a href="{% url 'askbuddie:askbuddie_category' category.0 %}" class="category"><i class="{{category.0|color}}"></i> {{category.0}}</a></div>
                {% endwith %}
            </div>
            <div class="posts__section-right">
                <div class="posts__users js-dropdown">
                    {% for reply in thread.thread_reply.all|slice:"4" %} {% with user=reply.created_by %}{% ifchanged user %}
                    <div>
                        <a href="#" class="avatar"><img src="{{user.user_profile.profile.url}}" alt="{{user.first_name}}" data-dropdown-btn="{{user.id}}"></a>
                        <div class="posts__users-dropdown dropdown dropdown--user dropdown--reverse-y" data-dropdown-list="{{user.id}}">
                            <div class="dropdown__user">
                                <a href="#" class="dropdown__user-label"><img src="{{user.user_profile.profile.url}}" alt="{{user.first_name}}"></a>
                                <div class="dropdown__user-nav">
                                    <a href="#"><i class="icon-Add_User"></i></a>
                                    <a href="#"><i class="icon-Message"></i></a>
                                </div>
                                <div class="dropdown__user-info">
                                    <a href="#">{{user.get_full_name}}</a>
                                    <p>Last Online: {{user.last_login|user_last_online_timesince}}.<br/> Joined: {{user.date_joined|date:"d M,Y"}}.</p>
                                </div>
                                <div class="dropdown__user-icons">
                                    <a href="#"><img src="{% static 'askbuddie/fonts/icons/badges/Intermediate.svg' %}" alt="user-icon"></a>
                                    <a href="#"><img src="{% static 'askbuddie/fonts/icons/badges/Bot.svg' %}" alt="user-icon"></a>
                                    <a href="#"><img src="{% static 'askbuddie/fonts/icons/badges/Animal_Lover.svg' %}" alt="user-icon"></a>
                                </div>
                                <div class="dropdown__user-statistic">
                                    <div>Threads - <span>{{user.user_thread.count}}</span></div>
                                    <div>Posts - <span>{{user.user_reply.count}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endifchanged %} {% endwith %} {% endfor %}
                    <!--
                        add more user here
                    -->
                </div>
                <div class="posts__replies">{{thread.thread_reply.count}}</div>
                <div class="posts__views">{% if thread.views >= 1000 %}{{thread.views|div:"1000"}}K{% else %} {{thread.views}}{% endif %}</div>
                <div class="posts__activity">{{thread|activity}}</div>
            </div>
        </div>
        {% empty %}
        {% block extra_head %}
        <style>
            .card:hover{
            transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);  cursor: pointer;}
        </style>
        {% endblock extra_head %}
        <div class="card m-4 text-center mx-auto">
            <div class="card-header text-dark">
                No Thread Found
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock content %}