{% extends 'askbuddie/credentialBase.html' %} {% block title %}Login{% endblock title %} {% block content %} {% for error in form.non_field_errors %}
<div class="alert alert-danger">{{error}}</div>
{% endfor %}
<div class="form__field form__field--email">
    <label class="label label--icon" for="login__email">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
      </svg>
      <span class="hidden">Email</span>
    </label>
    <div class="form__input-wrapper">
        <input id="login__email" type="text" autocomplete="off" name="username" class="form__input" placeholder="Email or Username" required>
        <!--
              FF is ignoring position relative of form__input-wrapper so added a wrapper for .underline.
              NOTE: just the precense of this comment fixes this FF issue (making the underline-wrapper unncessary).
              But I'd rather not rely on a comment.
            -->
        <div class="underline-wrapper">
            <span class="underline"></span>
        </div>
    </div>
</div>

<div class="form__field form__field--password">
    <label class="label label--icon" for="login__password">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
      </svg>
      <span class="hidden">Password</span>
    </label>
    <div class="form__input-wrapper">
        <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
        <!--
              FF is ignoring position relative of form__input-wrapper so added a wrapper for .underline.
              NOTE: just the precense of this comment fixes this FF issue (making the underline-wrapper unncessary).
              But I'd rather not rely on a comment.
            -->
        <div class="underline-wrapper">
            <span class="underline"></span>
        </div>
    </div>
</div>

<div class="login-actions-container">
    <div class="form__field form__field--submit">
        {% include 'askbuddie/captcha.html' %}
    </div>
    <div class="form__field form__field--remember-me">
        <label class="label label--remember-me" for="login__remember-me">
        <input id="login__remember-me" type="checkbox">
        <span class="checkmark"></span>
        <span class="remember-me-text">Remember me</span>
      </label>
    </div>
    <a class="forgot-password" href="{% url 'app_askbuddie:askbuddie_forgot' %}">Forgot Password?</a>
    <a class="forgot-password" href="{% url 'app_askbuddie:askbuddie_signup' %}">Don't have an account?</a>

    <div class="form__field form__field--submit">
        <input type="submit" value="log in">
    </div>
</div>
{% endblock content %}